/* Photo Upload Styles */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* spinner and the animation starts when upload button is clicked*/
.load-images-gallery__upload {
    display:block;
    cursor: pointer;
    max-width:600px;
    background-color:green;
    min-height:500px;
    border:1px solid #000;
}

.readyImage {
    width:30%;
}

input[type="file"] {
    display:none;
}

.load-images-gallery__submit {
    background-color:#fff;
    color:green;
    padding:20px;
}


#spinner {
    visibility: hidden;
    width: 80px;
    height: 80px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #f25a41;
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/* Images Drag & Drop */

@media screen and (max-width: 1024px) {
    .load-images-gallery__upload {
        display: none;
    }
    .images-upload {
        display: none;
    }
}

@media screen and (max-width: 2560px) {
    .btn__takePhoto {
        @include flexCenter();
        width: 100%;
        padding: 2rem;
        /* button { DA IMPLEMENTARE ALLA FINE PER RENDERE BOTTONI PIU BELLI ( attualmente va in confilitto con la class button in basso)
            display: inline-block;
            text-align: center;
            background-color: #4CAF50;
            border: none;
            padding: 1.2rem 5.5rem;
            border-radius: 10px;
            color: white;
            font-size: 1.2rem;
            font-weight: 500;
        } */
    }
}


/* @media screen and (max-width: 320px) {
    .btn__takePhoto {
        button {
            padding: 1rem 4rem;
        }
    }
} */

.section {
    transition: all 3s linear;
}

.section-visible {
    display: none;
}


/********Camera Button on Mobile - START***********/

@media screen and (max-width: 768px) {
    .btn__takePhoto {
        @include flexCenter();
        width: 100%;
        padding: 2rem;
        .btn__circle {
            position: relative;
            width: 90px;
            height: 90px;
            border-radius: 50%;
            background-color: #C4C4C4;
            box-shadow: 0 0 0 15px #E5E5E5;
        }
    }
}

@media screen and (min-width: 770px) {
    .btn__takePhoto {
        display: none;
    }
}


/********Camera Button on Mobile - END***********/


/********VIDEO AND IMAGES TAKEN Start ************/

.video__mobile {
    height: auto;
    max-width: 100%;
}

img {
    height: auto;
    max-width: 100%;
}

.container__all {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
}

.button {
    background-color: #fff;
    border-color: #dbdbdb;
    border-width: 1px;
    color: #363636;
    justify-content: center;
    padding-bottom: calc(.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(.5em - 1px);
    text-align: center;
    white-space: nowrap;
}

.title {
    color: #fff;
}

.is-hidden {
    display: none!important;
}


/********VIDEO AND IMAGES TAKEN END ************/


/*************** Video from destkop to mobile ********/

.landing-page__Only-desktop {
    @media screen and (max-width: 768px) {
        display: none;
    }
}

.lorem-ipsum {
    display: none;
    @include breakpoint("desktop") {
        display: block;
        position: relative;
        top: 25px;
        left: 35px;
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
    }
}