body {
    margin: 0 9%;
    margin-top: 100px;
}

.login-page {
    display: block;
    @include breakpoint("desktop") {
        display: flex;
    }
}

.site-logo {
    width: 80%;
    margin-top: 5 0px;
    color: #fff;
    h1 {
        font-family: Lato-bold, Helvetica, sans-serif;
        font-style: 700;
        font-size: 18px;
        @include breakpoint("tablet") {
            font-size: 24px;
            margin-bottom: 20px;
        }
    }
}

.login-section {
    padding-top: 14px;
    padding-left: 20px;
    background-color: #146CBE;
    color: #fff;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 50px;
    @include breakpoint("desktop") {
        width: 50%;
        padding-left: 0px;
        margin-bottom: 0;
    }
    &__title {
        h3 {
            font-family: Lato-bold, Helvetica, sans-serif;
            font-size: 18px;
            @include breakpoint("tablet") {
                font-size: 24px;
                margin-left: 75px;
            }
        }
        p {
            font-size: 14px;
            @include breakpoint("tablet") {
                font-size: 16px;
                margin-left: 75px;
                margin-bottom: 35px;
            }
        }
    }
    &__form {
        @include breakpoint("tablet") {
            margin-left: 75px;
        }
        .login-form {
            width: 90%;
            &__username {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            &__password {
                margin-top: 30px;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
    }
    &__labels {
        display: none;
        @include breakpoint("tablet") {
            display: inline-block;
        }
    }
    &__input {
        padding: 5px 20px;
        border-radius: 10px;
        font-size: 9px;
        width: 100%;
        @include breakpoint("tablet") {
            width: 332px;
            padding: 10px 0px 10px 20px;
        }
    }
    &__button {
        font-size: 11px;
        background-color: #29BC6E;
        color: #fff;
        height: 25px;
        border-radius: 10px;
        border: none;
        margin: 15px 0px 20px 0px;
        width: 104px;
        @include breakpoint("tablet") {
            width: 100%;
            height: 73px;
            cursor: pointer;
            font-size: 16px;
            margin-top: 67px;
        }
    }
}

.how-it-works {
    width: 100%;
    margin: 50px 0 250px 0;
    @include breakpoint("desktop") {
        width: 40%;
        margin: 0px 0px 0px 150px;
    }
    &__title {
        color: #fff;
        background-color: #146CBE;
        height: 47px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        width: 100%;
        border-radius: 10px;
        font-family: Lato-bold, Helvetica, sans-serif;
        font-size: 11px;
        @include breakpoint("mobile") {
            font-size: 16px;
            height: 120px;
            width: 100%;
            margin-top: -50px;
        }
    }
    &__image-preview {
        background-image: url("/src/assets/images/cat-image.webp");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 50% 50%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        @include breakpoint("tablet") {
            background-size: contain;
            height: 400px;
        }
        @include breakpoint("desktop") {
            background-size: 100%;
            font-size: 16px;
            height: 100%;
            width: 100%;
        }
        p {
            text-align: center;
            background-color: #146CBE;
            display: inline-block;
            color: #fff;
            padding: 15px;
            border-radius: 10px;
            font-size: 11px;
            transform: translate(0px, -50%);
            @include breakpoint("tablet") {
                margin-top: -100px;
                padding: 25px;
                width: 250px;
                font-size: 16px;
            }
        }
    }
}