                                                    /* Photo Upload Styles */
                                                
                                                .modal {
                                                    display: none;
                                                    /* Hidden by default */
                                                    position: fixed;
                                                    /* Stay in place */
                                                    z-index: 1;
                                                    /* Sit on top */
                                                    left: 0;
                                                    top: 0;
                                                    width: 100%;
                                                    /* Full width */
                                                    height: 100%;
                                                    /* Full height */
                                                    overflow: auto;
                                                    /* Enable scroll if needed */
                                                    background-color: rgb(0, 0, 0);
                                                    /* Fallback color */
                                                    background-color: rgba(0, 0, 0, 0.4);
                                                    /* Black w/ opacity */
                                                }
                                                /* spinner and the animation starts when upload button is clicked*/
                                                
                                                #spinner {
                                                    visibility: hidden;
                                                    width: 80px;
                                                    height: 80px;
                                                    border: 5px solid #f3f3f3;
                                                    border-top: 5px solid #f25a41;
                                                    border-radius: 100%;
                                                    position: absolute;
                                                    top: 0;
                                                    bottom: 0;
                                                    left: 0;
                                                    right: 0;
                                                    margin: auto;
                                                    z-index: 1;
                                                    animation: spin 1s infinite linear;
                                                }
                                                
                                                @keyframes spin {
                                                    from {
                                                        transform: rotate(0deg);
                                                    }
                                                    to {
                                                        transform: rotate(360deg);
                                                    }
                                                    /* Error given by webpack, it expects brackets but they're not needed */
                                                    .container__DropZone {
                                                        width: 80%;
                                                        background-color: #0a223d;
                                                        border-radius: 10px;
                                                    }
                                                    .dropzone {
                                                        color: #fff;
                                                        border-radius: 10px;
                                                        background-color: #29BC6E;
                                                        .dz-message {
                                                            margin: 8em 0;
                                                            @include flexCenter();
                                                            .dz-button {
                                                                font-weight: bold;
                                                                font-size: 24px;
                                                                line-height: 29px;
                                                            }
                                                        }
                                                    }
                                                    /* Images Drag & Drop */
                                                    .load-images-gallery {
                                                        @include flexCenter();
                                                        flex-direction: column;
                                                        width: 100%;
                                                    }
                                                    .load-images-gallery__upload {
                                                        display: none;
                                                    }
                                                    .images-upload {
                                                        display: none
                                                    }
                                                    .container__Destkop-landing-page {
                                                        border-radius: 10px;
                                                        background-color: #146CBE;
                                                        @include flexCenter();
                                                        flex-direction: column;
                                                        width: 100%;
                                                        height: 75vh;
                                                    }
                                                    @media screen and (max-width:768px) {
                                                        .container__Destkop-landing-page {
                                                            height: 85vh;
                                                        }
                                                    }
                                                    @media screen and (max-width:425px) {
                                                        .site-logo {
                                                            width: 90%;
                                                        }
                                                        .container__DropZone {
                                                            width: 90%;
                                                        }
                                                    }
                                                    @media screen and (max-width: 1024px) {
                                                        .load-images-gallery__upload {
                                                            display: none;
                                                        }
                                                        .images-upload {
                                                            display: none;
                                                        }
                                                    }
                                                    @media screen and (max-width: 2560px) {
                                                        .btn__takePhoto {
                                                            @include flexCenter();
                                                            width: 100%;
                                                            padding: 2rem;
                                                        }
                                                    }
                                                    .section {
                                                        transition: all 3s linear;
                                                    }
                                                    .section-visible {
                                                        display: none;
                                                    }
                                                    /********Camera Button on Mobile - START***********/
                                                    @media screen and (max-width: 768px) {
                                                        .btn__takePhoto {
                                                            @include flexCenter();
                                                            width: 100%;
                                                            padding: 2rem;
                                                            .btn__circle {
                                                                position: relative;
                                                                width: 90px;
                                                                height: 90px;
                                                                border-radius: 50%;
                                                                background-color: #C4C4C4;
                                                                box-shadow: 0 0 0 15px #E5E5E5;
                                                            }
                                                        }
                                                    }
                                                    @media screen and (min-width: 770px) {
                                                        .btn__takePhoto {
                                                            display: none;
                                                        }
                                                    }
                                                    /********Camera Button on Mobile - END***********/
                                                    /********VIDEO AND IMAGES TAKEN Start ************/
                                                    .video__mobile {
                                                        height: auto;
                                                        max-width: 100%;
                                                    }
                                                    img {
                                                        height: auto;
                                                        max-width: 100%;
                                                    }
                                                    .container__all {
                                                        display: flex;
                                                        justify-content: center;
                                                        flex-grow: 1;
                                                        margin: 0 auto;
                                                        position: relative;
                                                        width: auto;
                                                    }
                                                    .button {
                                                        background-color: #fff;
                                                        border-color: #dbdbdb;
                                                        border-width: 1px;
                                                        color: #363636;
                                                        justify-content: center;
                                                        padding-bottom: calc(.5em - 1px);
                                                        padding-left: 1em;
                                                        padding-right: 1em;
                                                        padding-top: calc(.5em - 1px);
                                                        text-align: center;
                                                        white-space: nowrap;
                                                    }
                                                    .title {
                                                        color: #fff;
                                                    }
                                                    .is-hidden {
                                                        display: none!important;
                                                    }
                                                    /********VIDEO AND IMAGES TAKEN END ************/
                                                    /*************** Video from destkop to mobile ********/
                                                    .landing-page__Only-desktop {
                                                        @media screen and (max-width: 768px) {
                                                            display: none;
                                                        }
                                                    }
                                                    .container__lorem {
                                                        width: 80%;
                                                        .lorem-ipsu {
                                                            font-family: Lato;
                                                            font-style: normal;
                                                            font-weight: normal;
                                                            font-size: 16px;
                                                            line-height: 19px;
                                                            color: #FFFFFF;
                                                            padding: 1rem 0 1rem 0;
                                                        }
                                                    }
                                                    @media screen and (max-width:425px) {
                                                        .container__lorem {
                                                            width: 90%;
                                                        }
                                                    }