<!doctype html>
<html>

<body>
    <form action="{{ url_for('upload.upload_file') }}" method="POST" enctype="multipart/form-data">
        <!--url_for('nome_funzione') è il modo in cui flask chiama le funzioni dal backend, POST è il metodo utilizzato, enctype è necessario-->
        <label for="img">Select image:</label>
        <input type="file" name="files[]" multiple="true" accept="image/*" value={{key}}>
        <input type="submit">
    </form>

    <div>{{ results }}</div> 

    <!--value nella stringa di sopra è il tag tramite cui il frontend riceve i dati dal backend -->
</body>

</html>