<!DOCTYPE html>
<html lang="en">

<head>

    <title>PhotoMatch - Pictures upload</title>
</head>

<body>
    <form action="{{ url_for('upload.upload_file') }}" method="POST" enctype="multipart/form-data">
        <!--url_for('nome_funzione') è il modo in cui flask chiama le funzioni dal backend, POST è il metodo utilizzato, enctype è necessario-->
        <label for="img">Select image:</label>
        <input type="file" name="files[]" multiple="true" accept="image/*" value={{key}}>
        <input type="submit">
    </form>
    <h2> {{results}} </h2>
    <!--value nella stringa di sopra è il tag tramite cui il frontend riceve i dati dal backend -->
    <script src="{{ url_for('static', filename='dist/main.js') }}"></script>

</body>

</html>