<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="TEAM 4 - Tomorrowdevs" />
    <meta name="copyright" content="TEAM 4 - Tomorrowdevs" />
    <meta name="description" content="Responsive Web App - Collaborative project tomorrowdevs">
    <meta name="keywords" content="upload, photo upload, camera, photocamera, cloud social, facebook,linkedin,people,connecting people,relationz,
                                   social application, Single page application, reminder,
                                   relations between employes" />

    <link rel="canonical" href="https://team4-tomorrowdevs-webapp.netlify.app/" />
    <meta property="og:title" content="Responsive Web App">
    <meta property="og:url" content="https://team4-tomorrowdevs-webapp.netlify.app/">
    <meta property="og:locale" content="it_IT">
    <meta property="og:type" content="Web App">
    <meta property="og:image" content=".assets/images/open-graph-preview.png">
    <title>PhotoMatch - Pictures upload</title>
</head>

<body>
    <div id="myModal" class="modal">
        <div id="spinner"></div>
    </div>

    <div class="site-logo">
        <h1>PhotoMatch</h1>
    </div>
    <!-- Manuel has changed the paragraph below to let it make more sense -->
    <p class="lorem-ipsum">Welcome to PhotoMatch<br> Load your picture for it to be recognized from our servers</p>
    <div class="load-images-gallery">
        <!-- Dropzone square -->
        <div class="load-images-gallery__images-container">
            <div class="container__DropZone">
                <form action="/file-upload" class="dropzone" id="myawesomedropzone">

                </form>

            </div>
            <button type="submit" id="button" class="dropzone__btn">Slideshow</button>
            <div class="message">
                <span class="message__text">No more than 10 images allowed</span>
                <span class="close">OK</span>
            </div>
        </div>
    </div>

    <!-- Slideshow container -->
    <div class="main-wrapper modal">
        <!-- Slider images with number and caption text -->
        <div class="slideshow-container">
            <div class="remove-button"><img src="./assets/images/remove-button-icon.svg"></div>
        </div>
        <!-- Next and previous buttons -->
        <div class="buttons">
            <a class="prev">&#10094;</a>
            <a class="next">&#10095;</a>
        </div>

    </div>
    </div>



    <!-- Button to take a photo - it appears only on mobile -->
    <div class="btn__takePhoto">
        <section class="section section-visible">
            <div class="container__all">
                <div class="columns">
                    <div class="column">
                        <video autoplay class="video__mobile"></video>
                        <button class="btn__Play button is-hidden">
                            <span class="icon is-small">
                            <i class="fas fa-play"></i>
                            PLAY
                            </span>
                        </button>
                        <button class="btn__Pause button">
                            <span class="icon is-small">
                            PAUSA
                            </span>
                        </button>
                        <button class="btn__Screenshot button is-success">
                            <span class="icon is-small">
                            <i class="fas fa-camera"></i>
                                LOAD FOTO 
                            </span>
                        </button>
                        <button class="btn__ChangeCamera button">
                            <span class="icon">
                            <i class="fas fa-sync-alt"></i>
                            </span>
                            <span>Switch camera</span>
                        </button>
                    </div>
                    <div class="column">
                        <h2 class="title">Photographs taken</h2>
                        <div class="container__screenshots"></div>
                    </div>
                </div>
            </div>
        </section>
        <canvas class="container__canvas is-hidden"></canvas>
        <div class="btn__circle">
        </div>
    </div>
</body>

</html>