<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="TEAM 4 - Tomorrowdevs" />
    <meta name="copyright" content="TEAM 4 - Tomorrowdevs" />
    <meta name="description" content="Responsive Web App - Collaborative project tomorrowdevs">
    <meta name="keywords" content="upload, photo upload, camera, photocamera, cloud social, facebook,linkedin,people,connecting people,relationz,
                                   social application, Single page application, reminder,
                                   relations between employes" />

    <link rel="canonical" href="https://team4-tomorrowdevs-webapp.netlify.app/" />
    <meta property="og:title" content="Responsive Web App">
    <meta property="og:url" content="https://team4-tomorrowdevs-webapp.netlify.app/">
    <meta property="og:locale" content="it_IT">
    <meta property="og:type" content="Web App">
    <meta property="og:image" content=".assets/images/open-graph-preview.png">
    <title>PhotoMatch - Pictures upload</title>
</head>

<body>
    <div class="site-logo">
        <h1>PhotoMatch</h1>
    </div>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias voluptates eum nobis necessitatibus perferendis voluptate quae et sunt accusamus distinctio!</p>
    <div class="load-images-gallery">
        <label for="images-upload" class="load-images-gallery__upload">
            Load from gallery
        </label>
        <input class="images-upload" type="file" />
        <div class="load-images-gallery__images-container">
            <div class="container__DropZone">
                <form action="/file-upload" class="dropzone" id="my-awesome-dropzone"></form>
            </div>
        </div>
    </div>
</body>

<script src="/src/assets/js/dropzone.js"></script>

</html>